/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}